body {
    font-family: Arial;
    background: #111;
    color: white;
    padding: 20px;
}

#chat {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #555;
    padding: 10px;
    margin-bottom: 10px;
    background: #222;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
}
